<template>
    <header>
        <div>
            <h1>My App</h1>
            <p>Welcome back {{ $page.props.auth.user.username }}!!</p>
        </div>
        <Nav/>
    </header>
    <slot />
</template>

<script setup>
import Nav from '../Shared/Nav.vue';
</script>

<style scoped>
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

slot {
  margin: 0 auto;
  max-width: 800px;
}

</style>