<template>
  <nav>
        <ul>
            <li><NavLink href="/" :active="$page.component === 'Home'">Home</NavLink></li>
            <li><NavLink href="/users" :active="$page.component === 'Users'">Users</NavLink></li>
            <li><NavLink href="/settings" :active="$page.component === 'Settings'">Settings</NavLink></li>
            <li><Link href="/logout" method="post" as="button">Logout</Link></li>
        </ul>
    </nav>
</template>

<script setup>
import { Link } from '@inertiajs/vue3';
import NavLink from '../Shared/NavLink.vue';
</script>

<style>
nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}
</style>