<template>
  <Link :class="{'active-link' : active}">
    <slot />
  </Link>
</template>

<script setup>
import { Link } from '@inertiajs/vue3';

defineProps({
    active: Boolean,
});
</script>

<style>
    .active-link {
        font-weight: bold;
    }
</style>