<template>
    <Component 
        :is="link.url ? 'a' : 'span'"
        v-for="link in links"
        :href="link.url"
        v-html="link.label"
        :class="{'active-link' : link.active}"
    />
</template>

<script setup>
defineProps({
    links: Array,
});
</script>

<style>
    .active-link {
        font-weight: bold;
    }
</style>