<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
    <div id="app">
        <input type="text" v-model="message">
        <p>
            {{ message }} ({{ message.length }})
        </p>
    </div>
    <script>
        const { createApp, ref } = 
      
        Vue.createApp({
          data() {
            return {
                message : 'Kaixo!'
            };
          }
        }).mount('#app')
      </script>
</body>
</html>