<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <style>
        html,
        body {
            height: 100%;
        }
        
        body {
            display: grid;
            place-items: center;
        }
        
    </style>
</head>

<body>
    <div id="app">
        <section v-show="inProgressAssignments.length">
            <h2>In Progress</h2>
            <ul>
                <li
                    v-for="assignment in inProgressAssignments"
                    :key="assignment.id"
                >
                    <label>
                        {{ assignment.text }}
                        <input type="checkbox" v-model="assignment.completed">
                    </label>
                </li>
            </ul>
        </section>
        <section v-show="completedAssignments.length">
            <h2>Completed</h2>
            <ul>
                <li 
                    v-for="assignment in completedAssignments"
                    :key="assignment.id"
                >
                    <label>
                        {{ assignment.text }}
                        <input type="checkbox" v-model="assignment.completed">
                    </label>
                </li>
            </ul>
        </section>
    </div>
    <script>
        const {
            createApp,
            ref
        } =

        Vue.createApp({
            data() {
                return {
                    assignments: [
                        { id: 1, text: 'Prueba1', completed: false },
                        { id: 2, text: 'Prueba2', completed: false },
                        { id: 3, text: 'Prueba3', completed: false },
                    ]
                };
            },
            computed: {
                inProgressAssignments() {
                    return this.assignments.filter(assignment => ! assignment.completed);
                },

                completedAssignments() {
                    return this.assignments.filter(assignment => assignment.completed);
                }
            }

        }).mount('#app')
    </script>
</body>

</html>