<template>
  <div>
    <input type="text" class="coupon-code" v-model="code" @input="validate" />
    <p v-text="feedback"></p>
  </div>
</template>
<script>
export default {
  data() {
    return {
      code: '',
      isValid: false,
      coupons: [
        {
          code: '50OFF',
          message: '50% Off!',
          discount: 50
        },
        {
          code: 'FREE',
          message: 'Entirely Free!',
          discount: 100
        }
      ]
    }
  },

  computed: {
    selectedCoupon() {
      return this.coupons.find((coupon) => coupon.code == this.code)
    },
    message() {
      return this.selectedCoupon.message
    },
    feedback() {
      if (this.isValid) {
        return `Coupon Redeemed: ${this.message}`
      }

      return 'Invalid Coupon Code'
    }
  },

  methods: {
    validate() {
      this.isValid = !!this.selectedCoupon

      if (this.isValid) {
        this.$emit('applied', this.selectedCoupon.discount)
      }
    }
  }
}
</script>
