<template>
  <div>
    <div v-if="!editing">
      <h2 v-text="question.title"></h2>
      <div class="body" v-text="question.body"></div>
      <button id="edit" @click="edit">Edit</button>
    </div>
    <div v-if="editing">
      <input type="text" name="title" v-model="form.title" />
      <textarea name="body" v-model="form.body"></textarea>

      <button id="update" @click="update">Update</button>
      <button id="cancel" @click="cancel">Cancel</button>
    </div>

    <p v-if="feedback">Your question has been updated.</p>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  props: ['dataQuestion'],
  data() {
    return {
      question: this.dataQuestion,
      form: {
        title: this.dataQuestion.title,
        body: this.dataQuestion.body
      },
      editing: false,
      feedback: false
    }
  },
  methods: {
    edit() {
      this.editing = true
    },

    update() {
      this.question.title = this.form.title
      this.question.body = this.form.body

      axios.post('/questions/1', this.form).then(({ data }) => {
        console.log(data.title)
        this.feedback = true
      })

      this.editing = false
    },

    cancel() {
      this.editing = false
    }
  }
}
</script>
