<template>
  <div>
    <input class="new-reminder" v-model="newReminder" />
    <button @click="add">Add</button>

    <ul v-if="reminders.length > 0">
      <li v-for="reminder in reminders" :key="reminder">
        {{ reminder }}
        <button class="remove" @click="remove(reminder)">Remove</button>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  data() {
    return {
      newReminder: '',
      reminders: []
    }
  },

  methods: {
    add() {
      this.reminders.push(this.newReminder)

      this.newReminder = ''
    },
    remove(reminder) {
      const index = this.reminders.indexOf(reminder)
      if (index !== -1) {
        this.reminders.splice(index, 1)
      }
    }
  }
}
</script>
