<script setup>
    defineProps({
        show: Boolean
    });
</script>

<template>
    <button @click="show = true">Mostrar</button>

    <Teleport to="body">
        <Transition name="modal-transition">
            <div v-if="show" class="modal-mask">
                <div class="modal-content">
                    <header>
                        <slot name="header">Header</slot>
                    </header>
                    <div>
                        <slot>Default</slot>
                    </div>
                    <footer class="modal-footer">
                        <button @click="show = false; $emit('close')">Close</button>
                    </footer>
                </div>
            </div>
        </Transition>
    </Teleport>
</template>

<style>
    .modal-mask {
        background-color: rgba(0, 0, 0, 0.418);
        position: fixed;
        inset: 0;
        display: grid;
        place-items: center;
    }

    .modal-content {
        background-color: white;
        padding: 1rem;
        width: 80vw;
        max-width: 500px;
        border-radius: 7px;
    }
    .modal-footer {
        border-top: 1px solid #ddd;
        margin-top: 1rem;
        padding-top: .5rem;
        font-size: .8rem;
    }
    .modal-footer button {
        background-color: #ddd;
        padding: .25rem .75rem;
        border-radius: 20px;
    }
    .modal-footer button:hover {
        background-color: #c8c8c8;
    }

    .modal-transition-enter-active,
    .modal-transition-leave-active {
        transition: opacity 0.5s ease, scale 0.5s ease;
    }

    .modal-transition-enter-from,
    .modal-transition-leave-to {
        opacity: 0;
        scale: 1.25;
    }

</style>