<template>
    <Head title="Login" />
    <h1>Login</h1>

    <form @submit.prevent="submit">
        <label>Email
            <input v-model="form.email" type="email" name="email" required>
            <div v-if="form.errors.email" v-text="form.errors.email"></div>
        </label>
        <label>Password
            <input v-model="form.password" type="password" name="password" required>
            <div v-if="form.errors.password" v-text="form.errors.password"></div>
        </label>

        <button type="submit">Login</button>
    </form>
</template>

<script setup>
import { useForm } from '@inertiajs/vue3';

defineOptions({ layout: null });

let form = useForm({
    email: '',
    password: '',
})

let submit = () => {
    form.post('/login');
}
</script>