<template>
    <Head title="Create user" />
    <h1>Create User</h1>

    <form @submit.prevent="submit">
        <label>Name
            <input v-model="form.name" type="text" name="name" required>
            <div v-if="form.errors.name" v-text="form.errors.name"></div>
        </label>
        <label>Email
            <input v-model="form.email" type="email" name="email" required>
            <div v-if="form.errors.email" v-text="form.errors.email"></div>
        </label>
        <label>Password
            <input v-model="form.password" type="password" name="password" required>
            <div v-if="form.errors.password" v-text="form.errors.password"></div>
        </label>

        <button type="submit">Submit</button>
    </form>
</template>

<script setup>
import { useForm } from '@inertiajs/vue3';

let form = useForm({
    name: '',
    email: '',
    password: '',
})

let submit = () => {
    form.post('/users');
}
</script>