<template>
    <Head title="Users" />
    <h1>Users</h1>
    <Link href="/users/create" v-if="can.createUser">Create</Link>
    <input type="text" placeholder="Search..." v-model="search">
    <table>
        <tr v-for="user in users.data" :key="user.id">
            <td>{{ user.name }}</td>
            <td><Link :href="`/users/${user.id}/edit`" 
                    v-if="user.can.edit">Edit</Link></td>
        </tr>
    </table>
    <Pagination :links="users.links" />
</template>

<script setup>
import Pagination from '../../Shared/Pagination.vue';
import { ref, watch } from 'vue';
import { router, Link } from '@inertiajs/vue3';
import { debounce } from 'lodash';

let props = defineProps({
    users: Object,
    filters: Object,
    can: Object
});

let search = ref(props.filters.search);

watch(search, debounce(function(value) {
    router.get('/users', { search: value}, {
        preserveState: true,
        replace: true,
    });
}, 300));
</script>
