<script setup>
import Modal from "@/components/Modal.vue";
import { useFlash } from "@/composables/useFlash";

let {flash} = useFlash();

</script>

<template>
  <div class="about">
    <h1>This is a contact page</h1>
    <button @click="flash('Kaixo!')">Kaixo</button>
    <Modal @close="showModal = false"></Modal>
  </div>
  
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
